# Environment
.env
.env.*
!.env.example

# DB backup
*.sql

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets
*.pem
*.key

uploads/

pass.txt

# DB backups
*.sql
*.dump